# EXAMPLE deployment configuration - THESE VALUES NEED TO BE CHANGED FROM default.env or local.env
PLATFORM_HOSTNAME=example.com
PLATFORM_HTTPS_PORT=8443
PLATFORM_HTTP_PORT=8080

# Shared configuration
DB_TABLENAME=tdf_objects
DB_PASSWORD=changeme
DB_USERNAME=postgres
DB_NAME=postgres

PLATFORM_ENDPOINT=example.com:8080
KAS_TDF_URL=hexample.com:8080/kas
KAS_NANO_URL=example.com:8080/kas

# NiFi Configuration
TAGGING_PDP_ENDPOINT=example.com:8080
NIFI_IMAGE=ghcr.io/ttschampel/nifi/nifi-1.25.0-jre17:latest
NIFI_CLIENT_ID=exampleclient
NIFI_CLIENT_SECRET=examplesecret
NIFI_TRUSTSTORE_PASSWORD=examplepass

# Tagging Configuration
ENCRYPTED_TOKEN_KEY=exampletoken
TOKEN_ENDPOINT=example.com:8443/auth/realms/opentdf/protocol/openid-connect/token

ENCRYPTED_TOKEN_KEY="not needed"
S4_IMAGE=example.com:5000/virtru/s4proxy_amd64:v1.6.0

# Config file selection
COP_CONFIG_FILE=config.yaml
S4_CONFIG_FILE=s4-dev-localstack.yaml
