# Local development
env/*.env
db-data
dsp-keys
proto_vendor/
credentials.json
#.venv/

# Binary
dsp-cop
geos-*.apk
geos/
# Sensitive or environment-specific configuration
etc/
config.yaml
config.local.yaml

# Nifi
**/truststore

# IDE
.vscode
.idea

# Bundle
virtru-dsp-bundle-*
virtru-dsp-bundle/

# Node 
node_modules/

#python vevn
COP_venv/

compose/minio-data/
nifi/sample_data/mission_example/

# Local artifacts / generated
aws/
extracted/
ui/dist/
